{% extends "base.html" %}

{% block content %}
{% if courses %}
<div class="container mx-auto p-6">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for course in courses %}
    <div class="bg-white shadow-lg rounded-lg overflow-hidden flex flex-col transition-transform transform hover:scale-105 hover:shadow-2xl">
      <img class="w-full h-48 object-cover" src="{{ course.image.url }}" alt="{{ course.name }}">
      <div class="p-4 flex-1">
        <h2 class="text-2xl font-bold mb-2">{{ course.name }}</h2>
        <p class="text-gray-700 mb-2">
          {% if course.enrolled %}Enrolled{% endif %}
        </p>
      </div>
      <a href="{% url 'course_details' course.slug %}" class="bg-indigo-600 text-white py-2 px-4 rounded-t-none rounded-b-lg hover:bg-indigo-500 w-full text-center">View Course</a>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
<div class="flex justify-center items-center h-64">
  <p class="text-gray-700 text-xl">No Enrolled Courses :(</p>
</div>
{% endif %}
{% endblock content %}
