{% extends "base.html" %}
{% block content %}


    <div class="text-center">
        <p class="text-base font-bold text-indigo-600">WELCOME TO</p>
        <h1 class="mt-4 text-3xl font-bold tracking-tight text-grey-900 sm:text-5xl">Coursify</h1>
        <p class="mt-6 text-base leading-7 text-gray-600">Coursify offers great deals on the courses you love. Start shopping today and enjoy an exceptional online shopping experience.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="{% url 'course' %}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Browse Courses</a>
            <a href="#" class="text-sm font-semibold text-gray-900">Contact us <span aria-hidden="true">&rarr;</span></a>
        </div>
    </div>
{% endblock content %}